body {
  margin: 0;
}
#container {
  display: flex;
}
#right {
  height: 91.5vh;
  width: 50vw;
  margin: 0px;
  background-color: gray;
  border-right: 1px black solid;
}
#left {
  height: 91.5vh;
  width: 50vw;
  margin: 0px;
  background-color: gray;
}
#header {
  text-align: center;
}
.btn {
  margin-top: 70vh;
  font-size: 2em;
  padding: 10px 20px;
}
