body {
  margin: 0;
}
#container {
  display: flex;
}
#right {
  height: 100%;
  width: 50%;
  margin: 0px;
  background-color: gray;
}
#left {
  height: 100%;
  width: 50%;
  margin: 0px;
  background-color: gray;
}
